@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  background-image: url('./img/bcg.jpg');
  background-position: center;
}

.header {
  width: 100%;
  padding: 20px;
  background: rgba(66, 66, 117, 0.5); /* Semi-transparent background */
  font-size: medium;
  color: white;
  text-align: center;
  z-index: 1; /* Ensure the header is above the background */
  box-sizing: border-box;
  position: relative; /* Fix the header at the top */
  font-family: 'Caveat';
  top: 0;
  left: 0;
}
